@font-face {
  font-family: TurkeySandwich;
  src: url("../fonts/TurkeySandwich.ttf");
}

#logotext {
  display: inline-block;
}

.topnav {
  display: inline-block;
}

.perc-5 {
  width: 5%;
}

.perc-10 {
  width: 10%;
}

.perc-25 {
  width: 25%;
}

.turkey-font {
  color: #e05d06 !important;
  font-family: TurkeySandwich;
  text-shadow:
  2px 2px #000,
  3px 3px #000,
  4px 4px #000,
  5px 5px #000,
  6px 6px #000;
}

.plain-entry {
  display: block;
  padding-block: 0.5em;
  text-decoration: none;
}

.plain-hoverable:hover {
  text-decoration: none;
  color: #000 !important;
}

.color-success {
  color: green !important;
}

.color-todo {
  color: #b95a00 !important;
}

.color-link {
  color: #4bb4ea !important;
}

#color-coding-toggle-container {
  display: inline-block;
  padding-block: 0.5em;
  margin-top: 1em;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.desc {
  line-height:  1.75;
  text-align: justify;
  font-family: 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: #000;
}

.nav-link {
  display: inline-block !important;
  font-weight: bold;
  font-size: 1.75em;
  margin-block: 0.15em;
}

.nav-link:hover {
  color: #0a58ca !important;
}

.nav-link-img {
  display: inline-block !important;
}

.game-object {
  padding: 1px 4px;
  margin-block: 0.1em;
  font-family: 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
  border: 1px solid #000;
}

.color-off {
  background-color: #00000000 !important;
  color: #000 !important;
  border-color: #00000000 !important;
}

.switch-checkpoint {
  background-color: #636133;
  color: #edebed;
  border-color: #edebed;
}

.pyramid-checkpoint {
  background-color: #edebed;
  color: #636133;
  border-color: #636133;
}

.switch-green {
  background-color: #057c0b;
  color: #34df44;
  border-color: #34df44;
}

.pyramid-green {
  background-color: #34df44;
  color: #057c0b;
  border-color: #057c0b;
  font-family: 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}

.switch-red {
  background-color: #95090b;
  color: #ff2c2f;
  border-color: #ff2c2f;
}

.pyramid-red {
  background-color: #ff2c2f;
  color: #95090b;
  border-color: #95090b;
}

.switch-black {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.pyramid-black {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.switch-silver {
  background-color: #6d7da3;
  color: #eceaeb;
  border-color: #eceaeb;
}

.pyramid-silver {
  background-color: #eceaeb;
  color: #6d7da3;
  border-color: #6d7da3;
}

.switch-orange {
  background-color: #a64307;
  color: #ffc834;
  border-color: #ffc834;
}

.pyramid-orange {
  background-color: #ffc834;
  color: #a64307;
  border-color: #a64307;
}

.switch-purple {
  background-color: #6306a2;
  color: #e267fd;
  border-color: #e267fd;
}

.pyramid-purple {
  background-color: #e267fd;
  color: #6306a2;
  border-color: #6306a2;
}

/* Poke-Poke */
